<!DOCTYPE html>
{% load static %}
{% load course %}
<html>

<head>
    <meta charset="utf-8">
    <title>
        {% block title %}Elearn {% endblock title %}
    </title>
    <link href="{% static 'css/base.css' %}" rel="stylesheet">


</head>

<body>
    <div id="header">
        <a href="/" class="logo">
            Elearn
        </a>
        <ul class="menu">
            {% if request.user.is_authenticated %}
            <li>
                <a href="{% url 'logout' %}">
                    Sign Out
                </a>
            </li>
            {% else %}
            <li>
                <a href="{%url 'login'%}">
                    Sign
                </a>
            </li>

            {% endif %}
        </ul>
        {% if request.user.is_authenticated %}
            {% if request.user|has_group:"instructors" %}
                <ul class="menu2">
                    <li>
                        <a href="{% url 'manage_course_list'%}">
                            Your Courses
                        </a>
                    </li>
                </ul>
                {% else %}
                <ul class="menu2">
                    <li>
                        <a href="{% url 'student_course_list'%}">
                            Your Courses
                        </a>
                    </li>
                </ul>

            {% endif %}

            {% else %}
            <ul class="menu2">
                <li>
                    <a href="{% url 'student_registration' %}">
                        Registration
                    </a>
                </li>
            </ul>
        {% endif %}
        
    </div>

    <div id="content">
        {% block content %}

        {% endblock %}
    </div>
    {% block include_js %}
    {% endblock %}
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            //DOM loaded
            {% block domready %}
            {% endblock %}
        })
    </script>
</body>

</html>